Source/Chucksoft.Client/Service References/GalleryService/GalleryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://chucksoft.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://chucksoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://chucksoft.com/">
      <s:element name="GetAllGalleries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGalleriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGalleriesResult" type="tns:ArrayOfGallery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGallery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Gallery" nillable="true" type="tns:Gallery" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Gallery">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PhotoCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GalleryID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AlbumID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" abstract="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllGalleriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGalleries" />
  </wsdl:message>
  <wsdl:message name="GetAllGalleriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGalleriesResponse" />
  </wsdl:message>
  <wsdl:portType name="GalleryServiceSoap">
    <wsdl:operation name="GetAllGalleries">
      <wsdl:input message="tns:GetAllGalleriesSoapIn" />
      <wsdl:output message="tns:GetAllGalleriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GalleryServiceSoap" type="tns:GalleryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGalleries">
      <soap:operation soapAction="http://chucksoft.com/GetAllGalleries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GalleryServiceSoap12" type="tns:GalleryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGalleries">
      <soap12:operation soapAction="http://chucksoft.com/GetAllGalleries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GalleryService">
    <wsdl:port name="GalleryServiceSoap" binding="tns:GalleryServiceSoap">
      <soap:address location="http://localhost/Gallery/Api/GalleryService.asmx" />
    </wsdl:port>
    <wsdl:port name="GalleryServiceSoap12" binding="tns:GalleryServiceSoap12">
      <soap12:address location="http://localhost/Gallery/Api/GalleryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>